[versions]
# Kotlin
coroutines = "1.6.4"

# Serialization
json = "1.4.1"

# Compose
composeGradle = "1.3.0-rc05"
composeCompiler = "1.3.2.1"
composeAndroid = "1.2.1"
voyager = "1.0.0-rc07"
accompanist = "0.25.2"
googleAccompanist = "0.25.1"
imageloader = "1.2.2.1"
materialDialogs = "0.9.1"

# Android
androidGradle = "7.4.1"
core = "1.9.0"
appCompat = "1.7.0-alpha02"
activityCompose = "1.6.1"
work = "2.8.0"

# Android Lifecycle
lifecycle = "2.6.0-alpha03"

# Swing
darklaf = "3.0.2"

# Ksp
ksp = "1.8.0-1.0.9"

# Dependency Injection
kodein = "7.18.0"
koinAnnotation = "1.0.3"
koin = "3.2.2"
koinAndroid = "3.3.0"

# Network
ktor = "2.1.3"
ktorfit = "1.0.0-beta16"

# Logging
slf4j = "2.0.3"
log4j = "2.19.0"
kmlogging = "1.2.0"
tinylog = "2.5.0-M2.1"

# Storage
okio = "3.3.0"
appDirs = "1.2.1"
sqldelight = "1.5.5"

# Preferences
multiplatformSettings = "1.0.0-alpha01"

# Utility
desugarJdkLibs = "2.0.2"
aboutLibraries = "10.6.8"
dateTime = "0.4.0"
immutableCollections = "0.3.5"
kds = "3.4.0"
ideaExt = "1.1.6"

# Localization
moko = "0.20.1"

# BuildConfigs
buildconfig = "3.1.0"
buildkonfig = "0.13.3"

# Linter
kotlinter = "3.12.0"


# Version updates
versions = "0.43.0"

# Optimizer
proguard = "7.2.2"

okhttp = "5.0.0-alpha.10"
coil_version = "2.2.1"
jsoup = "1.15.2"
exoplayer="1.0.0-beta03"


[libraries]
desugarJdkLibs = "com.android.tools:desugar_jdk_libs:1.1.5"
gradle-tools = "com.android.tools.build:gradle:7.3.1"

gradle-google = "com.google.gms:google-services:4.3.14"
gradle-firebaseCrashlytic = "com.google.firebase:firebase-crashlytics-gradle:2.9.1"
gradle-benmanes = "com.github.ben-manes:gradle-versions-plugin:0.42.0"
gradle-idea-ext = "gradle.plugin.org.jetbrains.gradle.plugin.idea-ext:gradle-idea-ext:1.1.5"
gradle-compose = "org.jetbrains.compose:compose-gradle-plugin:1.2.2"
gradle-publish = "com.vanniktech:gradle-maven-publish-plugin:0.21.0"

coil-core = { module = "io.coil-kt:coil", version.ref = "coil_version" }
coil-gif = { module = "io.coil-kt:coil-gif", version.ref = "coil_version" }
coil-compose = { module = "io.coil-kt:coil-compose", version.ref = "coil_version" }

gson = "com.google.code.gson:gson:2.9.0"
googleTranslator = "com.google.mlkit:translate:17.0.0"
htmlUnit-android = "net.sourceforge.htmlunit:htmlunit-android:2.63.0-SNAPSHOT"

voyager-navigator = { module = "ca.gosyer:voyager-navigator", version.ref = "voyager" }
voyager-tab-navigator = { module = "ca.gosyer:voyager-tab-navigator", version.ref = "voyager" }
voyager-transitions = { module = "ca.gosyer:voyager-transitions", version.ref = "voyager" }
voyager-kodein = { module = "ca.gosyer:voyager-kodein", version.ref = "voyager" }


storage = { module = "com.anggrayudi:storage", version = "1.5.1" }
documentfile = { module = "androidx.documentfile:documentfile", version = "1.0.1" }
ktor-core = { module = "io.ktor:ktor-client-core", version.ref = "ktor" }
ktor-core-android = { module = "io.ktor:ktor-client-android", version.ref = "ktor" }
ktor-core-cio = { module = "io.ktor:ktor-client-cio", version.ref = "ktor" }
ktor-okhttp = { module = "io.ktor:ktor-client-okhttp", version.ref = "ktor" }
ktor-contentNegotiation = { module = "io.ktor:ktor-client-content-negotiation", version.ref = "ktor" }
ktor-contentNegotiation-gson = { module = "io.ktor:ktor-serialization-gson", version.ref = "ktor" }
ktor-contentNegotiation-kotlinx = { module = "io.ktor:ktor-serialization-kotlinx-json", version.ref = "ktor" }
ktor-contentNegotiation-jackson = { module = "io.ktor:ktor-serialization-jackson", version.ref = "ktor" }


moko-core = { module = "dev.icerock.moko:resources", version.ref  = "moko" }
moko-gradle = { module = "dev.icerock.moko:resources-generator", version.ref  = "moko" }


okhttp-okhttp3 = { module = "com.squareup.okhttp3:okhttp", version.ref = "okhttp" }
okhttp-interceptor = { module = "com.squareup.okhttp3:logging-interceptor", version.ref = "okhttp" }
okhttp-doh = { module = "com.squareup.okhttp3:okhttp-dnsoverhttps", version.ref = "okhttp" }

firebase-bom = "com.google.firebase:firebase-bom:30.1.0"
firebase-analyticKtx = { module = "com.google.firebase:firebase-analytics-ktx" }
firebase-crashlytics = { module = "com.google.firebase:firebase-crashlytics" }
firebase-analytic = { module = "com.google.firebase:firebase-analytics" }


multidex = "androidx.multidex:multidex:2.0.1"
okio = "com.squareup.okio:okio:3.1.0"
quickjs-android = "app.cash.quickjs:quickjs-android:0.9.2"
quickjs-jvm = "app.cash.quickjs:quickjs-jvm:0.9.2"
jsoup = { module =  "org.jsoup:jsoup", version.ref = "jsoup" }

tinylog-impl = { module = "org.tinylog:tinylog-impl", version.ref = "tinylog" }
tinylog-api = { module = "org.tinylog:tinylog-api", version.ref = "tinylog" }


ireader-ktorCore =  { module = "io.ktor:ktor-client-core", version.ref = "ktor" }
ireader-ktorContentNegotiation = { module = "io.ktor:ktor-client-content-negotiation", version.ref = "ktor" }
ireader-ktorSerialization =  { module = "io.ktor:ktor-serialization-kotlinx-json", version.ref = "ktor" }
ireader-ktorGson =  { module = "io.ktor:ktor-serialization-gson", version.ref = "ktor" }
ireader-ktorOkhttp =   { module = "io.ktor:ktor-client-okhttp", version.ref = "ktor" }
ireader-ktorAndroid = { module = "io.ktor:ktor-client-android", version.ref = "ktor" }


# Inject
kodein-core = { module = "org.kodein.di:kodein-di", version.ref = "kodein" }
kodein-compose = { module = "org.kodein.di:kodein-di-framework-compose", version.ref = "kodein" }

koin-annotations = { module = "io.insert-koin:koin-annotations", version.ref = "koinAnnotation" }
koin-kspCompiler = { module = "io.insert-koin:koin-ksp-compiler", version.ref = "koinAnnotation" }
koin-android = { module = "io.insert-koin:koin-android", version.ref = "koinAndroid" }
koin-workManager = { module = "io.insert-koin:koin-androidx-workmanager", version.ref = "koin" }
koin-androidCompose = { module = "io.insert-koin:koin-androidx-compose", version.ref = "koinAndroid" }
koin-core = { module = "io.insert-koin:koin-core", version.ref = "koin" }
koin-test = { module = "io.insert-koin:koin-test", version.ref = "koin" }


sqldelight-runtime = { module = "com.squareup.sqldelight:runtime", version.ref = "sqldelight" }
sqldelight-coroutines = { module = "com.squareup.sqldelight:coroutines-extensions", version.ref ="sqldelight" }
sqldelight-jvm = { module = "com.squareup.sqldelight:sqlite-driver", version.ref = "sqldelight" }
sqldelight-android = { module = "com.squareup.sqldelight:android-driver", version.ref ="sqldelight" }
sqldelight-gradle = { module = "com.squareup.sqldelight:gradle-plugin", version.ref = "sqldelight" }
sqldelight-android-paging = { module = "com.squareup.sqldelight:android-paging3-extensions", version.ref = "sqldelight" }

requerySqlite = "com.github.requery:sqlite-android:3.36.0"
androidSqlite = "androidx.sqlite:sqlite-framework:2.2.0"

exoplayer-core = { module = "androidx.media3:media3-exoplayer", version.ref = "exoplayer" }
exoplayer-ui = { module = "androidx.media3:media3-ui", version.ref = "exoplayer" }
exoplayer-dash = { module = "androidx.media3:media3-exoplayer-dash", version.ref = "exoplayer" }
exoplayer-rtsp = { module = "androidx.media3:media3-exoplayer-rtsp", version.ref = "exoplayer" }
exoplayer-okhttp = { module = "androidx.media3:media3-datasource-okhttp", version.ref = "exoplayer" }
exoplayer-extractor = { module = "androidx.media3:media3-extractor", version.ref = "exoplayer" }
exoplayer-transformer = { module = "androidx.media3:media3-transformer", version.ref = "exoplayer" }
exoplayer-decoder = { module = "androidx.media3:media3-decoder", version.ref = "exoplayer" }
exoplayer-datasource = { module = "androidx.media3:media3-datasource", version.ref = "exoplayer" }
exoplayer-common = { module = "androidx.media3:media3-common", version.ref = "exoplayer" }
exoplayer-subtitleDecoder = { module = "com.github.albfernandez:juniversalchardet", version = "2.4.0" }


epublib = { module = "io.github.kazemcodes:epublib-core", version = "4.0-SNAPSHOT" }

[bundles]
simplestorage = ["storage", "documentfile"]
exoplayer = ["exoplayer-core", "exoplayer-ui", "exoplayer-dash","exoplayer-subtitleDecoder","exoplayer-rtsp","exoplayer-okhttp","exoplayer-extractor","exoplayer-transformer","exoplayer-decoder","exoplayer-datasource","exoplayer-common", ]
tinylog = ["tinylog-impl", "tinylog-api"]
ireader = ["ireader-ktorCore", "ireader-ktorContentNegotiation","ireader-ktorSerialization","ireader-ktorGson","ireader-ktorOkhttp","ireader-ktorAndroid"]

[plugins]


# Android
android-library = { id = "com.android.library", version.ref = "androidGradle"}
android-application = { id = "com.android.application", version.ref = "androidGradle"}

# Compose
compose = { id = "org.jetbrains.compose", version.ref = "composeGradle"}

# Ksp
ksp = { id = "com.google.devtools.ksp", version.ref = "ksp"}

# Localization
moko-gradle = { id = "dev.icerock.mobile.multiplatform-resources", version.ref = "moko"}

# BuildConfigs
buildconfig = { id = "com.github.gmazzo.buildconfig", version.ref = "buildconfig"}
buildkonfig = { id = "com.codingfeline.buildkonfig", version.ref = "buildkonfig"}

# Linter
kotlinter = { id = "org.jmailen.kotlinter", version.ref = "kotlinter"}

# Version updates
versions = { id = "com.github.ben-manes.versions", version.ref = "versions"}

# Utility
aboutLibraries = { id = "com.mikepenz.aboutlibraries.plugin", version.ref = "aboutLibraries"}

ideaExt = { id = "org.jetbrains.gradle.plugin.idea-ext", version.ref = "ideaExt" }
jetbrainCompose = { id = "org.jetbrains.compose", version = "1.3.0" }
vanniktech = { id = "com.vanniktech.maven.publish", version = "0.21.0" }

dependencyAnalysis = { id = "com.autonomousapps.dependency-analysis", version = "1.13.1" }
benGradleVersions = { id = "com.github.ben-manes.versions", version = "0.42.0" }

sqldelight = { id = "com.squareup.sqldelight", version.ref = "sqldelight" }

google = { id = "com.google.gms.google-services", version = "4.3.14" }
moko = { id = "dev.icerock.mobile.multiplatform-resources", version.ref = "moko" }
