<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"

    package="org.ireader.infinity">

    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:name="org.ireader.infinity.MyApplication"
        android:allowBackup="true"
        android:configChanges="orientation|screenSize"
        android:fullBackupOnly="true"
        android:hardwareAccelerated="true"
        android:hasFragileUserData="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:screenOrientation="fullSensor"
        android:supportsRtl="true"
        android:theme="@style/Theme.Infinity"
        android:usesCleartextTraffic="true">
        <activity
            android:name="org.ireader.infinity.presentation.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Infinity.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <data
                    android:host="www.ireader.com"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            tools:node="remove" />
    </application>

</manifest>