name: Check Build

on:
  push:
    branches:
      - master

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  BuildBinaries:
    name: Build application packages
    strategy:
      matrix:
        runtime: [ linux-x64, linux-fedora-x64, win-x64, android ]
        include:
          - runtime: linux-x64
            arch: x64
            os: ubuntu-latest
            shell: bash
            build: :desktop:packageUberJarForCurrentOS :desktop:packageDeb
            setupCl: ./.github/scripts/SetupClUnix.sh

          - runtime: linux-fedora-x64
            arch: x64
            os: ubuntu-latest
            shell: bash
            build: :desktop:packageRpm
            setupCl: ./.github/scripts/SetupClUnix.sh

          - runtime: win-x64
            arch: x64
            os: windows-latest
            shell: powershell
            build: :desktop:packageUberJarForCurrentOS :desktop:packageMsi
            setupCl: ./.github/scripts/SetupClWindows.ps1

          - runtime: android
            arch: x64
            os: ubuntu-latest
            shell: bash
            build: :android:assembleStandardRelease
            setupCl: ./.github/scripts/SetupClUnix.sh

    runs-on: ${{ matrix.os }}
    timeout-minutes: 60
    defaults:
      run:
        shell: ${{ matrix.shell }}
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - uses: actions/setup-java@v4
        if: ${{ matrix.runtime != 'linux-fedora-x64' }}
        with:
          java-version: 21
          distribution: temurin
          architecture: ${{ matrix.arch }}

      - name: Setup Cl
        run: ${{ matrix.setupCl }}



      - name: Build rpm Package
        if: ${{ matrix.runtime == 'linux-fedora-x64' }}
        run: |
          docker run --rm -v ${{ github.workspace }}:/workspace -w /workspace fedora:latest bash -c "
            dnf install -y java-21-openjdk-devel java-21-openjdk-jmods rpm-build findutils &&
            export JAVA_HOME=/usr/lib/jvm/java-21-openjdk &&
            export PATH=\$JAVA_HOME/bin:\$PATH &&
            ./gradlew ${{ matrix.build }} --stacktrace
          "

      - name: Build
        if: ${{ matrix.runtime != 'linux-fedora-x64' }}
        uses: gradle/gradle-build-action@v2
        with:
          arguments: >
            ${{ matrix.build }}